<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static',filename='overview.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>


<head>
    <style>
        body,
        input,
        label,
        option {
            font-family: "Raleway", sans-serif
        }

        #graphs{
            position: relative;
        }
    </style>
    <title>Overview Analysis</title>
</head>

<body>
    <div class="navigation-bar">
        <ul class="nav">
            <li><a class="active" href="{{ url_for('poi_analysis') }}">POI Analysis</a></li>
            <li><a class="active" href="{{ url_for('overview') }}">Overview Analysis</a></li>
            <li id="nav2"><a class="active" href="{{ url_for('home') }}">Home</a></li>
            <img src="{{ url_for('static',filename='logo_second_page.png') }}" height="50" width="130">
        </ul>
    </div>
    <div class = "graphs">
        <div id="country_graph"></div>
        <div id="poi_graph"></div>
        <div class="bar_charts">
            <div class="covid_sentiment_graph" id="covid_gen_graph"></div>
            <div class="vaccine_sentiment_graph" id="vaccine_gen_graph"></div>
        </div>
        <figure>
            <figcaption class="caption">Vaccine Hesitancy Word Cloud</figcaption>
            <img src="../static/vaccine_hesitancy.png" alt="Trulli" width="500" height="333" class="center">
        </figure>
        
        <!-- <div class="vaccine_hesitancy"></div> -->
        <div id="graphs">
            <div class="pie_charts">
                <div class="vaccine_graph" id="covid_vaccine_graph"></div>
                <div class="language_graph" id="language_graph"></div>
            </div>
            </div>
    </div>


    <script>
    var data = {{ data|tojson }};
    var data_sentiment = {{ data_sentiment|tojson}};

    var graph_country = [
    {
        y: data['country_names'],
        x: data['country_count'],
        type: 'bar',
        marker: {
            color: ['rgb(142,124,195)', 'rgb(78, 173, 148)', 'rgb(219, 103, 161)']
        },
        orientation: 'h'
    }
    ];
    var graph_country_layout = {
        title: 'Count of tweets according to Country'
    }

    Plotly.newPlot('country_graph', graph_country, graph_country_layout);

    var graph_poi= [
        {
            x: data['poi_names'],
            y: data['poi_count'],
            type: 'bar',
            marker: {
                // color: 'rgb(142,124,195)'
                color: ['rgb(142,124,195)', 'rgb(78, 173, 148)', 'rgb(78, 173, 148)', 'rgb(219, 103, 161)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(219, 103, 161)', 'rgb(219, 103, 161)', 'rgb(142,124,195)', 'rgb(78, 173, 148)', 'rgb(78, 173, 148)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(78, 173, 148)', 'rgb(219, 103, 161)', 'rgb(219, 103, 161)', 'rgb(78, 173, 148)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(219, 103, 161)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(78, 173, 148)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(219, 103, 161)', 'rgb(219, 103, 161)', 'rgb(219, 103, 161)', 'rgb(142,124,195)', 'rgb(142,124,195)', 'rgb(219, 103, 161)', 'rgb(142,124,195)', 'rgb(219, 103, 161)']
            }
        }
    ];
    var graph_poi_layout = {
        title: 'Count of tweets according to POIs'
    }
    
    Plotly.newPlot('poi_graph', graph_poi, graph_poi_layout);
    var ultimateColors = ['rgb(109, 191, 172)','rgb(222, 169, 178)','rgb(186, 132, 191)']//179, 191, 109['rgb(142,124,195)', 'rgb(78, 173, 148)', 'rgb(219, 103, 161)'];

    var graph_covid_vaccine= [
        {
            labels: data['vaccine_covid'],
            values: data['vaccine_covid_count'],
            type: 'pie',
            marker: {
                colors: ultimateColors
            }
        }
    ];
    var layout_topic = {
        // height: 400,
        // width: 500,
        title: 'Percentage of tweets per type'
    };

    Plotly.newPlot('covid_vaccine_graph', graph_covid_vaccine, layout_topic );

    var graph_language= [
        {
            labels: data['languages'],
            values: data['language_count'],
            type: 'pie',
            marker: {
                colors: ultimateColors
            }
        }
        ];
    var layout_language = {
        // height: 400,
        // width: 500,
        title: 'Percentage of tweets according to Language'
    };

    Plotly.newPlot('language_graph', graph_language, layout_language);

    var graph_covid_sentiment= [
        {
            x: data_sentiment['covid_sentiment'],
            y: data_sentiment['covid_sentiment_values'],
            type: 'bar',
            marker: {
                color:['rgb(199, 135, 137)','rgb(106, 126, 176)']
            }
        }
    ];
    var graph_covid_layout = {
        title: ' Covid sentiments by general population'
    }
    
    Plotly.newPlot('covid_gen_graph', graph_covid_sentiment, graph_covid_layout);

    var graph_vaccine_sentiment= [
        {
            x: data_sentiment['vaccine_sentiment'],
            y: data_sentiment['vaccine_sentiment_values'],
            type: 'bar',
            marker: {
                color: ['rgb(191, 139, 65)','rgb(138, 134, 134)']
            }
        }
    ];
    var graph_vaccine_layout = {
        title: 'Vaccine sentiments by general population'
    }
    
    Plotly.newPlot('vaccine_gen_graph', graph_vaccine_sentiment, graph_vaccine_layout);
    </script>
</body>

</html>